<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicaciones | Adolescencia y Juventud</title>
    <meta name="description" content="Conjunto de escritos sobre temas de salud juvenil para uso libre y gratuito en beneficio de la comunidad.">
    <meta name="keywords" content="ADOLESCENCIA, JUVENTUD, SALUD, JOVENES, ADICCIONES, PATERNIDAD, MATERNIDAD, SEXUALIDAD, VIOLENCIA, ABUSO, CALIDAD DE VIDA, DESARROLLO, PEDIATRIA">
    <meta name="autor" content="Doctor Cándido Roldán">
    <meta http-equiv="cache-control" content="no-cache"/>
    <link rel="icon" type="image/png" href="/img/logo.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/posts.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>
<body>
    <%- include('partials/header') %>
    
    <main>
        <div class="posts-container">
            <h1>Publicaciones</h1>
            <article id="recursos" class="post">
                <div class="img-header">
                    <img class="post-img" src="/img/posts/ayj-logo.jpg" alt="">
                </div>
                <div class="post-description">
                    <h2>recursos tecnicos</h2>
                    <p>Conjunto de recursos para profesionales de la salud y cualquiera comprometido por la salud de los adolescentes y jovenes</p>
                    <a href="" class="download">ver recursos</a>
                </div>
            </article>
            <% posts.forEach(post => { %>
                <article class="post">
                    <div class="img-header">
                        <img class="post-img" src=<%= post.img %>  alt="">
                    </div>
                    <div class="post-description">
                        <h2><%= post.titulo %> </h2>
                        <p><%= post.descripcion %></p>
                        <a href="<%= post.url %>" class="download">ver post</a>
                    </div>
                </article>
            <% }) %>
            
        </div>
    </main>

    <%- include('partials/footer') %>



    <script src="./js/navbar.js"></script>
</body>
</html>